<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>My Guestbook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        
        {{!-- typekit --}}
        <script src="//use.typekit.net/ekn8kjx.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <header>

            <div class="center">
                
                <div class="title-wrap">
                <h4 class="title-sub">Guestbook Application by Jeremy Hutchcraft</h4>
                  <h1>{{{ title }}}</h1>
                </div>

                {{#if isHome }}
                   
                   <a href="/comments" class="cta-btn">
                       <span class="fa-move-right">
                           View All
                           <i class="fa fa-arrow-right"></i>
                       </span>
                   </a>

                 {{/if}}

                 {{#if isComments }}
                    
                   
                   <a href="/" class="cta-btn">
                       <span class="fa-move-left">
                           <i class="fa fa-arrow-left"></i>
                           Back Home
                       </span>
                   </a>

                  {{/if}}

           

            </div>
            
        </header>

       <div class="wrap">
           

            {{{ body }}}

       </div>
    </body>
</html>
