
<div class="center">

    <div class="message-container comments-page">
        {{#each comments}}
           {{#if comment}}
             <div class="a-comment">
                 <p class="body-text">
                     &ldquo;{{ comment }}&rdquo;
                 </p>
                 <span class="author-line">by: {{ author }}</span>
                 <span class="timestamp">{{ timeago timestamp }}</span>
             </div>
           {{/if}}
        {{/each}}
    </div>

</div>
