
<div class="center">

    <div class="message-container comments-page">
        {{#each comments}}
            <p class="body-text">
                {{ comment }}
                <br />
                <span class="timestamp">{{ timestamp }}</span>
            </p>
        {{/each}}
    </div>

</div>
